body {
    margin: 0;
}

header {
    border: 1px solid red;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

header div {
    border: 1px solid blue;
}