
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    columns: #03658c;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

body{
    font-family: 'Roboto', arial, sans-serif;
    background: #dee1e3;
}

.encabezado{
    width: 100%;
    
}

.container-seccion2 img{
    width: 100%;
}

/* ********lista de comentarios******* */
.comentario-main{
    width: 100%;
}
.comentarios-container{
    width: 95%;
    margin-top: 50px;
    padding-left: 10px;
}
.comentarios-container h5{
    font-size: 14px;
    color: #707070;
    font-weight: bold;
}

.comentarios-container h5 a{
    font-size: 18px;
    font-weight: 700;
}

.lista-comentarios{
    margin-top:20px;
    padding-left: 0;
    position: relative;
}

.lista-comentarios .comentario-imagen{
    width: 60px;
    height: 60px;
    margin: 0;

    position: relative;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.lista-comentarios .comentario-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 50%;
    border: 2px solid gray;
    cursor: pointer;
}

.lista-comentarios li{
    margin-bottom: 15px;
    display: block;
    position: relative;
}


.lista-comentarios li:after{
    content:'';
    display: block;
    clear: both;
    height: 0;
    width: 0;
}

.reply-list{
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

/* *******Imagen****** */

/* .lista-comentarios .comentario-imagen{
    width: 70px;
    height: 70px;
    position: relative;
    z-index: 99;
    float: left;
    
    border-radius: 4px;
    
    
    overflow: hidden;
} */


.reply-list .comentario-imagen{
    width: 50px;
    height: 50px;
}

.comentario-main:after{
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

/* ***********caja del Comentario***** */
.lista-comentarios .comentario-box{
    width: calc(100% - 80px);
    height: auto;
    float: right;
    position: relative;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); */
    border-radius: 10px;
}
.lista-comentarios .comentario-box .contenido-comentario p{
    width: 100%;
    font-size: 15px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}

/* **********Logo de Conectado para comentario respuesta************ */
.lista-comentarios .comentario-box::before{
    border-width: 11px 13px 11px 0;
    border-color: transparent rgba(0, 0, 0, 0.05);
    left: -12px;
}

.reply-list .comentario-box{
    /* width: 610px; */
}

.comentario-box .comentario-footer{
    width: 100%;
    background: #fcfcfc;
    padding: 10px 12px;
    border-bottom: 0px solid #e5e5e5;
    overflow: hidden;
    border-radius: 10px;
    align-self: center;
    background: transparent;
    border-style: none;
}

.comentario-box .comentario-footer i{
    float: right;
    margin-left: 8px;
    position: relative;
    top: 2px;
    color: #a6a6a6;
    cursor: pointer;
    transition: color 0.3s ease;
}

.reply-list .comentario-footer i{
    margin-left: 2px;
    padding: 0 1px;
}

/* .lista-comentarios .comentario-footer p{
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    color: black;
    border-bottom: none;
    margin-top: 3px;
} */

/* .lista-comentarios .comentario-footer p:hover{
    color: blue;
    background-color: transparent;
    font-weight: bold;
} */

/* *******Likes******** */
.reply-list .comentario-footer .like{
    font-size: 12px;
    border: 1px solid gray;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    color: black;
    border-style: none;
    margin-top: 3px;
}
.lista-comentarios .comentario-footer .boton .button-like .like2{
    width: 4%;
    height: 22%;
    position: absolute;
    left: 86%;
    top: 72%;
    display: flex;
    cursor: pointer;
}

.reply-list .comentario-box .comentario-footer .boton .button-like .like2{
    width: 5%;
    height: 20%;
    position: absolute;
    left: 84%;
    top: 77%;
    display: flex;
    cursor: pointer;
}

.lista-comentarios .button-like .like2 img{
    width: 61%;
    height: 118%;
    margin-right: 10%;
}
.reply-list .comentario-box .comentario-footer .boton .button-like .like2 img{
    width: 58%;
    height: 118%;
    margin-right: 10%;
}
.comentario-box .comentario-footer i:hover{
    color: #03658c;
}

/**** Nombre del que hace el comentario****/
.comentario-box .nombre-comentario{
    color: #283035;
    font-size: 12px;
    font-weight: 700;
    float: left;
    margin:0 10px;
}

.comentario-box .nombre-comentario a{  
    color: #283035;
}

/**** Fin Nombre del que hace el comentario****/
.comentario-box .comentario-footer .me_gusta, .responder, span{
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.comentario-box .comentario-footer .button-like{
    margin-top: -54px;
}

.reply-list .comentario-box .comentario-footer .button-like{
    margin-top: -64px;
}

.comentario-footer span{
    padding-inline-end: 30px;
}

.comentario-box .comentario-footer .me_gusta, .responder{
    padding-inline: 10px;
    cursor: pointer;
}

.comentario-box .comentario-footer .me_gusta:hover{
    color: #03658c;
}

.comentario-box .comentario-footer .responder:hover{
    color: #03658c;
}

.comentario-box .contenido-comentario{
    height: auto;
    background: rgba(202, 200, 200, 0.452);
    padding: 12px;
    font-size: 12px;
    color: #313131;
    border-radius: 20px;
    text-align: justify;
    line-height: 20px;
}

/* .comentario-box .nombre-comentario.author, .comentario-box .nombre-comentario.author a{color: #03658c;}
.comentario-box .nombre-comentario.author::after{
    content: 'Autor';
    background: #03658c;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 3px;
} */

/* .reply-list .comentario-box .nombre-comentario.author, .reply-list .comentario-box .nombre-comentario.author a{color: #03658c;}
.reply-list .comentario-box .nombre-comentario.author::after{
    content: 'Autor';
    background: #03658c;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    border-radius: 3px;
} */

/* *******Responsive**** */

/* @media (max-width:832px){
.comentarios-container{
    width: 480px;
    padding-right: 25px;
    padding-left: 37px;
}

.lista-comentarios{
    margin-right: -30px;
}

.lista-comentarios .comentario-box{
    width: 390px;
}

.reply-list .comentario-box{
    width: 320px;
}

.reply-list .contenido-comentario{
    margin-left: -24px;
    margin-right: 28px;
}

.reply-list .comentario-footer{
    margin-left: -23px;
    margin-right: 24px;
}

.comentario-box .nombre-comentario{
    width: 320px;
}

.comentarios-container h5{
    padding: 0 12px;
}

.comentario-footer span{
    padding-inline-end: 10px;
}

.comentario-footer a{
    padding-inline-end: 0px;
    padding-inline-start: 5px;
    /* margin: 0 10px; */


.reply-list .comentario-box .comentario-footer a{
    padding-inline-end: 0px;
    padding-inline-start: 14px;
    /* margin: 0 10px; */
}



.reply-list .comentario-imagen{
    width: 30px;
    height: 30px;
}

.conectado img {
    margin-top: 38px;
}

.reply-list .conectado img{
    margin-top: 22px;
}

.lista-comentarios .comentario-footer .boton .button-like .like2{
    width: 20px;
    height: 22%;
    position: absolute;
    left: calc(60% - 4%);
    top: 45%;
    display: flex;
}

.reply-list .comentario-box .comentario-footer .boton .button-like .like2{
    width: 5%;
    height: 20%;
    position: absolute;
    left: 71%;
    top: 77%;
    display: flex;
}

.lista-comentarios .button-like .like2 img{
    width: 69%;
    height: 118%;
    margin-right: 10%;
}
.reply-list .comentario-box .comentario-footer .boton .button-like .like2 img{
    width: 70%;
    height: 118%;
    margin-right: 10%;
}

